

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color:  #172d3b;
    }
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb{
    background: #eee5de;
    border-radius: 5px;
}


h2{
    font-size: 30px;
    color: #eee5de;
}
p{
    font-size: 15px;
    color: #eee5de;
}
.contenedor{
    border-bottom: 5px solid #eee5de;
    border-left: 5px solid #eee5de;
    border-right: 5px solid #eee5de;
    margin: 40px;
}
.cocteles{
        justify-content: space-between;
        display: flex;
        margin: 20px;
    }

.precio p{
    font-size: 27px;
    margin: 20px;
}